<img src="../../../assets/image.png" style="width:100%; height:50%; ">

<br>


<div class="card-top container-fluid" style="background-color: #f3ffe6;">

  <br>
  <h1 class="text-center"><strong (click)="filter('')">Fresh Vegitables</strong></h1>
  <br>
  <div class="container-fluid d-flex">
    <div class="item text-center">
      <a (click)="filter('')">
        <img src="../../../assets/images/category-2.png" alt="Bulbs">
        <br>
        <h3><strong>All Vegetables</strong></h3>
      </a>
    </div>
    <div class="item text-center">
      <a (click)="filter('Stem')">
        <img src="../../../assets/images/Stem-2.jpg" alt="Bulbs">
        <br>
        <h3><strong>Stem</strong></h3>
      </a>
    </div>
    <div class="item text-center">
      <a (click)="filter('Bulbs')">
        <img src="../../../assets/images/Bulbs-2.jpg" alt="Bulbs">
        <br>
        <h3><strong>Bulbs</strong></h3>
      </a>
    </div>
    <div class="item text-center">
      <a (click)="filter('Leaf')">
        <img src="../../../assets/images/Leaf-2.jpg" alt="Bulbs">
        <br>
        <h3><strong>Leaf</strong></h3>
      </a>
    </div>
    <div class="item text-center">
      <a (click)="filter('Fruit')">
        <img src="../../../assets/images/Fruit-2.jpg" alt="Bulbs">
        <br>
        <h3><strong>Fruits</strong></h3>
      </a>
    </div>
    <div class="item text-center">
      <a (click)="filter('Flower')">
        <img src="../../../assets/images/Flower-2.jpg" alt="Bulbs">
        <br>
        <h3><strong>Flower</strong></h3>
      </a>
    </div>
    <div class="item text-center">
      <a (click)="filter('Root and Tubers')">
        <img src="../../../assets/images/Root-and-Tubers-2.jpg" alt="Bulbs">
        <br>
        <h3><strong>Roots and Tubers</strong></h3>
      </a>
    </div>
    <div class="item text-center">
      <a (click)="filter('Seeds')">
        <img src="../../../assets/images/Seeds-2.jpg" alt="Bulbs">
        <br>
        <h3><strong>Seeds</strong></h3>
      </a>
    </div>
  </div>
</div>


<br>
 <section  class="our_step_process" id="sevenprocesssteps">
  <div  class="container">
    <h2  class="head02">
      Our 7 Step Process
      <span  class="b-border"></span>
    </h2>
    <div  class="row flex-container">
      <div  class="col-lg-6 col-12">
        <ul  class="step_process">
          <li  class="d-flex align-items-center">
            <span  class="number">1</span>
            <img  src="../../../assets/images/farmer (1).png " alt="" class="img img-fluid">
            <div  class="title">Sourced From Select Farmer Partners</div>
          </li>
          <li  class="d-flex align-items-center">
            <span  class="number">2</span>
            <img  src="assets/images/delivery_truck.png " alt="" class="img img-fluid">
            <div  class="title">Rapidly Transported To Maintain Freshness</div>
          </li>
          <li  class="d-flex align-items-center">
            <span  class="number">3</span>
            <img  src="assets/images/warehouse.png " alt="" class="img img-fluid">
            <div  class="title">Brought To Our Central Processing Unit</div>
          </li>
          <li  class="d-flex align-items-center last">
            <span  class="number">4</span>
            <img  src="assets/images/conveyor_belt.png " alt="" class="img img-fluid">
            <div  class="title">Sorting Process To Pick Quality Vegetables &amp; Fruits</div>
          </li>
          <span  class="sp_01"><img src="../../../assets/images/sp_01.png" alt=""></span>
          <span  class="sp_02"><img src="../../../assets/images/sp_02.png" alt=""></span>
          <span  class="sp_03"><img src="../../../assets/images/sp_03.png" alt=""></span>
          <span  class="sp_03"><img src="../../../assets/images/sp_03.png" alt=""></span>
        </ul>
      </div>

      <div  class="col-lg-6 col-12">
        <ul  class="step_process">

          <li  class="d-flex align-items-center">
            <span  class="number">5</span>
            <img  src="../../../assets/images/trolley.png " alt="" class="img img-fluid">
            <div  class="title">Graded To Ensure Right Size &amp; Weight</div>
          </li>
          <li  class="d-flex align-items-center">
            <span  class="number">6</span>
            <img  src="../../../assets/images/box.png " alt="" class="img img-fluid">
            <div  class="title">Sanitized &amp; Packed In Hygienic Conditions</div>
          </li>
          <li  class="d-flex align-items-center last">
            <span  class="number">7</span>
            <img  src="../../../assets/images/food-delivery.png" alt="" class="img img-fluid">
            <div  class="title">Safe &amp; Fresh Vegetables/Fruits Delivered To Your Home</div>
          </li>
          <span  class="sp_05"><img src="../../../assets/images/sp_05.0409d7442160055ce752.png" alt=""></span>
          <span  class="sp_06"><img src="../../../assets/images/sp_06.57ff7936a82761c3e381.png" alt=""></span>
        </ul>
      </div>
    </div>
    </div>
</section> 





<!-- 
<div id="demo" class="carousel slide" data-ride="carousel">




  <ul class="carousel-indicators">

    <li data-target="#demo" data-slide-to="0" class="active"></li>

    <li data-target="#demo" data-slide-to="1"></li>

    <li data-target="#demo" data-slide-to="2"></li>

  </ul>




  <div class="carousel-inner">

    <div class="carousel-item active">

      <img src="../../../assets/admin-signup.jpg" class="img-fluid" alt="Los Angeles">

    </div>

    <div class="carousel-item">

      <img src="../../../assets/banner-1.jpg" class="img-fluid" alt="Chicago">

    </div>

    <div class="carousel-item">

      <img src="../../../assets/banner-2.jpg" class="img-fluid" alt="New York">

    </div>

  </div>





  <a class="carousel-control-prev" href="#demo" data-slide="prev">

    <span class="carousel-control-prev-icon"></span>

  </a>

  <a class="carousel-control-next" href="#demo" data-slide="next">

    <span class="carousel-control-next-icon"></span>

  </a>



</div> -->